@{
    ViewBag.Title = "Home Page";
}




<div class="jumbotron">

    <p>
        <h2>Trabajo práctico número 7.</h2>
        <ul>
            <li>1- Realizar un ABMC.</li>
            <li>2- Investiguar como utilizar la misma vista y controlador para realizar el Insert y Update.</li>
            <li>3- Agregar Validadores.</li>
        </ul>
        <div>
            @Html.ActionLink("Click aquí para ver el listado Suppliers y sus funcionalidades.", "Index", "Suppliers")
        </div>
        <div>
            @Html.ActionLink("Click aquí para ver API pública.", "Index", "Users")
        </div>
    </p>
        

</div>

